@charset "UTF-8";


*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
}

main
{
    position: relative;
}

main > section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 330px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(61,0,0,1) 100%);
    border-radius: 10px; 
    position: relative;
}

picture
{
    position: absolute;
    z-index: 1;
}

iframe
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    height: 330px;
}