@charset "UTF-8";   



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button, select 
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#container-back-new
{
    display: flex;
    align-items: center;
    font-size: 3.0rem;
}

picture > a
{
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
}

picture > a:hover
{
    transform: scale(0.9);
}

#container-form 
{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
}

.container-input
{
    display: grid;
    position: relative;
    
}

.container-input input, select
{
    width: 250px;
    height: 4rem;
    border-radius: 12px;
    border: 1px solid #00000015;
    cursor: pointer;

}
.container-input label
{
    font-size: 1.6rem;
    text-indent: 1.0rem;
}

button
{
    width: 250px;
    height: 4rem;
    background-color: #35E6E9;
    border-radius: 12px;
    font-size: 1.7rem;
    color: white;
    font-family: "Poppins", sans-serif;
    border: none;
    cursor: pointer;
}

#arrow-select
{
    position: absolute;
    top: 2.0rem;
    left: 20.0rem;
    transform: rotate(270deg);
    filter: brightness(0) saturate(100%) invert(89%) sepia(10%) saturate(4740%) hue-rotate(138deg) brightness(101%) contrast(83%);
    cursor: pointer;
    z-index: 1;
}

#circle-append
{
    position: absolute;
    top: 2.8rem;
    left: 20.7rem;
    cursor: pointer;
    
}