@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    color: white;
}

html
{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar
{
    background-color: black;
    width: 4px;
}


body::-webkit-scrollbar-thumb
{
    background-color: red;
}


:root
{
    font-size: 62.5%;
}

body
{
    width: 100%;
    background-color: black;
    position: relative;
    overflow-x: hidden;

}

header
{
    padding-top: 2rem;
    box-shadow: inset 0 0 350px 53px rgb(0, 0, 0);
    background-image: url(../img/header-img.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 454px;
    position: relative;
}

#full-menu
{
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
}

#full-menu ul:nth-child(1)
{
    width: 400px;
    height: 20px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding-inline-start: 1rem;
}

#full-menu ul:nth-child(2)
{
    width: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    padding-inline: 1rem;
    
}

#list-two li:nth-child(2), #list-two li:nth-child(1)
{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7480%) hue-rotate(43deg) brightness(118%) contrast(100%);
}

#list-two > li
{
    transition: filter 0.5s ease-in-out;
}

#list-two:hover > :not(:hover)
{
    filter: brightness(0.80);
}
.list
{
    list-style: none;
    display: flex;
    align-items: center;
}

#one-list > li
{
    transition: color 0.5s ease;
}

#one-list:hover > :not(:hover)
{
    color: #888888;
}

#header-title > img
{
    position: absolute;
    top: 30%;
    left: 2rem;
    transform: translateY(-30%);
    width: 250px;
}

p
{
    position: absolute;
    top: 45%;
    padding-inline: 2rem;
    font-size: 1.7rem;
    padding-top: 1rem;
}

#container-buttons
{
    position: absolute;
    top: 65%;
    padding-inline: 2rem;
    display: flex;
    gap: 3rem;
    z-index: 2;
    padding-top: 2rem;
}

button
{
    cursor: pointer;
    background: transparent;
    border: none;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7480%) hue-rotate(43deg) brightness(118%) contrast(100%);
}

button > img
{
    width: 30px;
}

main
{
    position: absolute;
    box-shadow: 0 -20px 169px 88px black;
    z-index: 1;
}

.container
{
    padding-inline: 2rem;
    padding-bottom: 4rem;
    width: 100vw;
    position: relative;
}

.container > h2
{
    font-size: 1.7rem;
}

.back
{
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 3rem;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transform: scale(0.8);
    transition: all 0.5s ease-in-out;
}

.next
{
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 95%;
    transform: translate(-98%) rotate(180deg);
    cursor: pointer;    
}

.movie-list
{
    display: flex;
    width: 100%;
    gap: 0.5rem;
    padding-top: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 0;
    scrollbar-width: none;
    transition: all 0.5s ease-in-out;

}

.movie-list::-webkit-scrollbar
{
    display: none;
}

.movie-list > img
{
    width: 300px;
    filter: brightness(0.5);
}

.show-effect
{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.disable
{
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
}