@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: ;
}

:root
{
    font-size: 62.5%;
}

body
{
    height: 100vh;
    max-width: 100%;
}

header
{
    background-image: url(../img/header-img.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1080px;
}

#full-menu
{
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
}

#full-menu ul:nth-child(1)
{
    width: 400px;
    color: white;
    font-size: 1.5rem;
    padding-inline: 1rem;
}

#full-menu ul:nth-child(2)
{
    width: 200px;
    padding-inline: 1rem;

}

.list
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}