@charset "UTF-8";


:root
{
    --filter-img: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(7500%) hue-rotate(151deg) brightness(115%) contrast(117%);
    --updated: 0%;
}

*
{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
    color: white;
}

body
{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main
{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h5
{
    text-align: center;
    letter-spacing: 2px;
}

#container-img
{
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 10px black;
}
#container-img img
{
    width: 100%;
    height: 100%;
}

#container-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container-content-text p
{
    color: #aeaeaebe;
    font-size: 0.9em;
}

#container-bar
{
    padding-block: 1em;
    cursor: pointer;
}

#container-progress-bar
{
    height: 3px;
    background-color: #aeaeae73;
    border-radius: 20px;
}
#container-bar-updated
{
    border-radius: inherit;
    height: inherit;
    background-color: white;
    width: var(--updated);
}

#container-button
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container-button, #container-content img
{
    filter: var(--filter-img);
}